<main style="margin-top: 70px">
  <section class="all_content__chat" style="width: auto">
    <h2>Сообщения</h2>
    <div id="messages">
      <div id="loader" style="width: 200px; height: 200px; margin: 0 auto;">
        <img src="img/load.gif" style="width: 100%; height: 100%;">
      </div>
    </div>
    <div class="buttons">
      <div><button id="back" class="my_button">Назад</button>
        <button id="forward" class="my_button">Вперед</button>
      </div>
    </div>
  </section>
</main>