<footer>
  <div class="footer_info" id="footer_info_id">
    <section class="footer_info__contacts contacts" id="contacts_id">
      <h2>Контактная информация</h2>
      <ul>
        <li>Телефон: 555-1488</li>
        <li>Почта:ekolobov@gmail.com</li>
      </ul>
    </section>
  </div>
</footer>
