<head>
  <title>Егор Колобов</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="js/script.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/lab7.js" defer></script>
  <script type="text/javascript" src="js/lab6.js" defer></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="js/lab5.js" defer></script>
</head>