<main style="margin-top: 209px">
  <div class="all_content">
    <div class="all_content__useful useful">
      <div class="anchor" id="education_id"></div>
      <section class="all_content__education education">
        <h2>Образование</h2>
        <ul>
          <li>Среднее образование: Президентский ФМЛ №239</li>
          <li>Высшее образование: Университет ИТМО</li>
        </ul>
      </section>
      <div class="anchor" id="additional_education_id"></div>
      <section class="all_content__additional_education additional_education">
        <h2>Дополнительное образование</h2>
        <h3>Онлайн курсы</h3>
        <ul>
          <li>Stepik: Прграммирование на Python</li>
          <li>Stepik: Прграммирование на С++</li>
        </ul>
      </section>
      <div class="anchor" id="skills_id"></div>
      <section class="all_content__skills skills">
        <h2>Навыки</h2>
        <h3>Языки программирования</h3>
        <ol type="1">
          <li>DefFLang1</li>
          <li>DefLang2</li>
        </ol>
        <h4>Пример кода на Python</h4>
        <pre style="margin-top: 0px"><code>
if __name__ == '__main__':
    name = input("What is your name?")
    print("Hello, {}!".format(name))
                        </code></pre>
        <h3>Иностранные языки</h3>
        <ul>
          <li>Английский - C2</li>
        </ul>
      </section>
      <div class="anchor" id="personal_id"></div>
      <section class="all_content__personal personal">
        <h2>Личные качества</h2>
        <ul>
          <li>Трудолибивость</li>
          <li>Пунктуальность</li>
          <li><s>Дружелюбность</s></li>
          <li><i>Красивый</i></li>
        </ul>
      </section>
      <!--            <div class="anchor" id="hobby_id"></div>-->
      <section class="all_content__hobby hobby" id="hobby_id">
        <h2>Хобби/О себе</h2>
        <p style="text-transform: uppercase">20 лет. Студент 3-го Курса ФИТиП. хожу в gym.</p>
      </section>
      <!--            <div class="anchor" id="extras_id"></div>-->
      <section class="all_content__extras extras" id="extras_id">
        <h2>Extras</h2>
        <p>Различные задания для лаб и т.д.</p>
        <ul>
          <li><a href="/table" target="_blank">Таблица</a></li>
          <li><a href="/table_form" target="_blank">Форма таблицы</a></li>
          <li><a href="/lab7chat" target="_blank">Чат</a></li>
          <li><a href="/register" target="_blank">Регистрация</a></li>
        </ul>
      </section>
    </div> <!-- конец useful -->
    <div class="all_content__pictures pictures">
      <aside>
        <h2 style="text-align: center;">Моё тотемное животное</h2>

        <img src="/img/cool_doge.jpeg">
        <img src="/img/nose.jpeg">
        <img src="/img/tired.jpeg">

      </aside>
    </div> <!-- конец pictures -->
  </div> <!-- конец all_content -->
</main>