<section class="menu">
  <h2 style="text-align: center">Оглавление</h2>
  <nav class="menu__nav">
    <a href="#education_id" class="menu__navigation navigation active">
      Образование
    </a>

    <a href="#additional_education_id" class="menu__navigation navigation">
      Доп. образование
    </a>

    <a href="#skills_id" class="menu__navigation navigation">
      Навыки
    </a>
    <a href="#personal_id" class="menu__navigation navigation">
      Личные качества
    </a>

    <a href="#hobby_id" class="menu__navigation navigation">
      О себе
    </a>

    <a href="#extras_id" class="menu__navigation navigation">
      Extras
    </a>

    <a href="#contacts_id" class="menu__navigation navigation">
      Контакты
    </a>
  </nav>
</section> <!-- menu -->