<main style="margin-top: 70px">
  <form>
    <div>
      <!--      <h1>Register</h1>-->
      <p>Заполните форму регистрации</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input id="email" type="text" placeholder="Enter Email" required="required">

      <label for="psw"><b>Пароль</b></label>
      <input id="password" type="password" placeholder="Enter Password" required="required">

      <label for="psw-repeat"><b>Повторите пароль</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <hr>

      <!--      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>-->
      <button id="my_button" type="submit">Зарегестрироваться</button>
    </div>

    <div>
      <p><a id="entrance" href="#">Выйти</a>.</p>
    </div>
  </form>
</main>