<main style="margin-top: 70px">
    <section class="all_content__my_table my_table">
        <div class="nx3_table">
            <div>№</div>
            <div>Описание столбца 1</div>
            <div>Описание столбца 2</div>

            <div>1</div>
            <div>1.00</div>
            <div>число 1</div>

            <div>2</div>
            <div>2.00</div>
            <div>число 2</div>

            <div>3</div>
            <div>3.00</div>
            <div>число 3</div>

            <div>4</div>
            <div>4.00</div>
            <div>число 4</div>
        </div>
    </section>
</main>